body {
    font-family: 'IBMPlexSansKR-Regular';
    background-color: rgb(55, 60, 63);
    color: #ffffff;
}

.frame {
    display: flex;
    margin: 30px 120px;
    flex-direction: column;
}

.navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

li {
    display: inline;
    align-self: center;
    margin: 0;
    margin-left: 10px;
}

ul {
    margin: 0;
}

.site-name {
    margin: 0;
    font-size: 60px;
    font-family: 'Palette Mosaic', cursive;
    
    color: #D9CCC1;
    text-shadow: -2px 0 #272425, 0 2px #272425, 2px 0 #272425, 0 -2px #272425;
}

.nav_menu {
    color: #D9CCC1;
    font-weight: 600;
    font-size: 18px;
}

a {
    color: #272425;
    text-decoration: none;
}

.nav_menu:hover {
    color: #ffffff;
    transition: 0.3s;
}

.info {
    margin-top: 80px;
}

.comment {
    font-weight: 100;
    
}

.fighting {
    color: #818181;
}

.footer {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    border-top: #818181 solid 1px;
    align-items: center;
}

.contact {
    font-size: 35px;
    color: #595047;
    margin-bottom: 10px;
}

.links>a {
    font-size: 30px;
    color: #595047;
    margin-right: 10px;
}

.links>a:hover {
    color: #638896;
}


.profile {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

#profile-img {
    width: 450px;
    margin-right: 80px;
}

.introduction {
    font-size: 22px;
}
.intro-comment2 {
    font-size: 18px;
    line-height: 200%;
}

.name {
    font-weight: 1000;
    font-size: 36px;
    color: rgb(255, 217, 102);
}
progress {
    width: 1000px;
    height: 20px;
    color: rgb(255, 217, 102);
    -webkit-appearance: none;
    appearance: none;
 }
 progress::-webkit-progress-bar {
    background-color: gray;
 }
 progress::-webkit-progress-value {
    background-color: rgb(255, 217, 102);
 }
 .comment2{
     font-size: 20px;
 }
 #blog-link{
    color: beige;
 }